<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="log4netgroup">
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0" />
    </sectionGroup>
  </configSections>
  <log4netgroup>
    <log4net>
      <appender name="MESRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">   
        <file value="logs\MES_Log.txt" />
        <appendToFile value="true" />
        <!-- Roll files based on both the size and date of the file -->
        <rollingStyle value="Size" />
        <!--Save the 30 most recent files, delete older files.-->
        <maxSizeRollBackups value="30" />
        <!--The limit of each file is 10MB, once reached save file and create a new one. -->
        <maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
        <!-- Allow multiple processes to write to the same file. -->
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="--- %date %-5level - %logger - %message---%newline" />
        </layout>
      </appender>

      <root>
        <level value="DEBUG" />
        <appender-ref ref="MESRollingLogFileAppender" />
      </root>

      <logger name="Mes.Configuration" additivity="false">
        <level value="OFF" />
      </logger>
      
      <!-- 
        Level:  OFF
        Log:    Nothing
    
        Level:  ALL     
        Log:    ALL (FATAL, ERROR, WARN, INFO, DEBUG)
    
        **********************************************
    
        Level:  FATAL
        Log:    FATAL 
    
        Level:  ERROR
        Log:    ERROR, FATAL
    
        Level:  WARN
        Log:    WARN, ERROR, FATAL
    
        Level:  INFO
        Log:    INFO, WARN, ERROR, FATAL
    
        Level:  DEBUG
        Log:    DEBUG, INFO, WARN, ERROR, FATAL
      -->
      
    </log4net>
  </log4netgroup>
</configuration>
